<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-container">
      <div class="header-title">
        FNTrack Admin
      </div>

      <div class="right-content">
        <ng-content />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs (ionTabsDidChange)="onChange()">
    <ion-tab-bar slot="bottom">
      @for (t of tabItems; track $index) {
      <ion-tab-button [tab]="t.path" layout="icon-top">
        <ion-icon [src]="selectedTab() === t.path ? t.icon_selected : t.icon_default" />
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
